:root {
  --light-text-color: #ffffff;
  --dark-text-color: #ae7c78;
  --button-default-color: #d89999;
  --contacts-info-bg-color: #f7fafc;
  --left-arrow-icon: url("data:image/svg+xml,%3Csvg width='51' height='16' viewBox='0 0 51 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM51 9H1V7H51V9Z' fill='%23AE7C78'/%3E%3C/svg%3E");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page {
  min-height: 100%;
}

.page-body {
  display: grid;
  min-width: 1240px;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-text-color);
}

  /* main-header */

.main-navigation {
  position: relative;
}

.main-header {
  border-top: 1px solid var(--dark-text-color);
  border-bottom: 1px solid var(--dark-text-color);
  margin-top: 26px;
  margin-bottom: 82px;
}

.main-header-logo {
  position: absolute;
  top: calc(50% - 16px);
  left: 50%;
  margin-left: -50px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 17px 0 15px;
  margin: 0;
  list-style: none;
}

.site-navigation-item {
  margin: 6px 0;
  width: 163px;
}

.site-navigation-item:nth-child(6n-4) {
  text-align: center;
}

.site-navigation-item:nth-child(3n),
.site-navigation-item:nth-child(6n-1) {
  text-align: right;
}

.site-navigation-item:nth-child(6n-3) {
  margin-right: 222px;
}

.site-navigation-link {
  padding: 5px 0;
  text-decoration: none;
  color: inherit;
  transition: 120ms;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  padding: 5px 10px;
  border-radius: 7px;
  margin: -5px -10px;
  color: var(--light-text-color);
  background-color: var(--button-default-color);
}

.site-navigation-link:active {
  padding: 5px 10px;
  border-radius: 7px;
  margin: -5px -10px;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

  /* about-us */

.about-us {
  display: grid;
  margin-bottom: 49px;
  grid-template-columns: 1fr 793px;
  font-size: 24px;
  line-height: 29.26px;
}

.about-us-left {
  margin-right: 22px;
}

.main-title {
  margin: 0 0 25px 0;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 44px;
  line-height: 58.65px;
  font-weight: 400;
}

.main-title span {
  font-style: italic;
}

.main-lead {
  margin: 0 0 64px 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 285px;
  padding: 31px 40px 30px 40px;
  border: 1px solid var(--button-default-color);
  border-radius: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 19.5px;
  text-decoration: none;
  color: var(--light-text-color);
  background-color: var(--button-default-color);
  transition: 120ms;
}

.button:hover,
.button:focus {
  border-color: var(--dark-text-color);
  color: var(--dark-text-color);
  background-color: var(--light-text-color);
}

.button:active {
  border-color: var(--button-default-color);
  text-transform: uppercase;
  color: var(--button-default-color);
  background-color: var(--light-text-color);
  transition: 100ms;
}

.about-us-right {
  display: grid;
  grid-template-columns: 386px 387px;
  grid-template-rows: 58px min-content;
  column-gap: 20px;
}

.about-us-right img {
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  object-fit: contain;
}

.about-us-right img:first-child {
  grid-row: 2 / 3;
  height: 404px;
}

.about-us-right img:nth-child(2) {
  grid-row: 1 / 3;
  height: 420px;
}

  /* features */

.features {
  margin-bottom: 79px;
}

.section-title,
.product-categories-name {
  text-align: center;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.features-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 19px;
}

.features-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 20px;
}

.features-title {
  grid-column: 2 / -1;
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
}

.features-text {
  grid-column: 2 / -1;
  margin: 0;
}

  /* popular-products */

.popular-products {
  margin-bottom: 59px;
}

.popular-products .section-title {
  margin: 0 0 31px 15px;
}

.popular-products .catalog {
  width: 794px;
  margin: 0 auto;
}

.catalog-item {
  display: grid;
  grid-template-columns: 1fr 387px;
  grid-template-rows: repeat(4, auto) 1fr;
  column-gap: 20px;
}

.catalog-name,
.catalog-price {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
}

.catalog-name {
  padding: 28px 0 11px 0px;
  text-align: left;
}

.catalog-description {
  padding: 10px 0px 14px 0px;
}

.catalog-dimensions {
  padding: 10px 0 12px 0px;
}

.catalog-price {
  padding: 10px 0 30px 0px;
}

.catalog-cta {
  padding: 35px 0 22px 0px;
}

.catalog-img {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  max-width: 100%;
  max-height: 438px;
  margin: 0 auto;
  object-fit: contain;
}

.popular-products .slider-controls {
  display: flex;
  justify-content: center;
}

.popular-products .slider-button {
  width: 65px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: var(--dark-text-color);
  -webkit-mask: var(--left-arrow-icon);
  mask: var(--left-arrow-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: right center;
  mask-position: right center;
}

.popular-products .slider-button-next {
  margin-left: 20px;
  transform: scaleX(-1);
}

.popular-products .slider-button:hover,
.popular-products .slider-button:focus-visible {
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.popular-products .slider-button:active {
  background-color: var(--button-default-color);
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

  /* product-categories */

.product-categories {
  margin-bottom: 80px;
}

.product-categories-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.product-categories-link {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: 442px;
  padding: 48px 20px 40px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
  background-size: cover;
}

.product-categories-item:first-child .product-categories-link {
  background-image: url("../img/wedding_bouquets.jpg");
}

.product-categories-item:nth-child(2) .product-categories-link {
  background-image: url("../img/bouquets_with_peonies.jpg");
}

.product-categories-item:nth-child(3) .product-categories-link {
  background-image: url("../img/assorted_bouquets.jpg");
}

.product-categories-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--dark-text-color);
  filter: opacity(0.6);
  transition: 200ms;
}

.product-categories-link:hover::after {
  filter: opacity(0.8);
}

.product-categories-link:active::after {
  filter: opacity(0.9);
  transition: 100ms;
}

.product-categories-name {
  margin: 0 0 9px 0;
  z-index: 2;
}

.product-categories-text {
  margin: 0 0 7px 0;
  z-index: 2;
}

  /* promo */

.promo {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr min-content;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

.promo-left {
  padding: 40px 92px 44px 102px;
}

.promo-title {
  margin: 0 0 24px 0;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 44px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.promo-text {
  margin: 0 0 20px 0;
}

.promo-img {
  display: block;
  width: auto;
  max-width: 590px;
  height: auto;
  max-height: 391px;
}



  /* purchase-instruction */

.purchase-instruction-list {
  list-style: none;
}

.purchase-instruction-item {
  text-align: center;
}

.purchase-instruction-name {
  font-weight: 500;
}

  /* follow-us */

.follow-us {
  font-size: 24px;
  line-height: 29.26px;
}

.follow-us .section-title {
  text-align: left;
}

.social-list {
  list-style: none;
}

.social-link {
  font-size: 16px;
  line-height: 19.5px;
  text-decoration: none;
  color: inherit;
}

  /* reviews */

.reviews-item {
  text-align: center;
}

.reviews-author {
  font-weight: 500;
  font-style: normal;
}

  /* main-footer */

.main-footer {
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

  /* contacts */

.contacts .section-title {
  text-align: left;
  letter-spacing: normal;
}

.contacts-info {
  color: var(--dark-text-color);
  background-color: var(--contacts-info-bg-color);
}

.contacts-item {
  font-weight: 500;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation-link {
  color: inherit;
  text-decoration: none;
}
